@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the Practical 19</h1>
	

	<a asp-action="Login" class="btn btn-primary">Login</a>

	<a asp-action="Register" class="btn btn-primary">Register</a>

	<a asp-action="Logout" class="btn btn-danger">Logout</a>


</div>
